# This file registers ownership for certain parts of the rhdh-plugins code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @bethgriggs @nickboldt @kim-tsao @04kash
/workspaces/bulk-import                             @christoph-jerolimov @debsmita1 @rm3l
/workspaces/homepage                                @christoph-jerolimov @ciiay @debsmita1
/workspaces/marketplace                             @christoph-jerolimov @debsmita1 @divyanshiGupta
/workspaces/openshift-image-registry                @christoph-jerolimov @debsmita1 @divyanshiGupta
/workspaces/theme                                   @christoph-jerolimov @ciiay @debsmita1
/workspaces/lightspeed                              @karthikjeeyar @yangcao77 @rohitkrai03
/workspaces/orchestrator                            @batzionb @mareklibra @gciavarrini
/workspaces/global-header                           @christoph-jerolimov @ciiay
/workspaces/global-floating-action-button           @christoph-jerolimov @debsmita1