# This file registers ownership for certain parts of the rhdh-plugins code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                                   @bethgriggs @nickbolt
/workspaces/bulk-import                             @debsmita1 @rm3l
