name: Automate changeset feedback
on:
  pull_request_target:
    branches: ['main']

permissions:
  pull-requests: write
  actions: none
  checks: none
  contents: none
  deployments: none
  issues: none
  packages: none
  pages: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  changeset-feedback:
    name: Generate Changeset Feedback
    # prevent running towards forks and version packages
    if: github.repository == 'redhat-developer/rhdh-plugins' && github.event.pull_request.user.login != 'rhdh-bot'
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          # Fetch the commit that's merged into the base rather than the target ref
          # This will let us diff only the contents of the PR, without fetching more history
          ref: 'refs/pull/${{ github.event.pull_request.number }}/merge'
      - name: fetch base
        run: git fetch --depth 1 origin ${{ github.base_ref }}

      - uses: backstage/actions/changeset-feedback@c3038aa5576b9cd845ccc518ef854d3660e8cb40 # v0.7.6
        name: Generate feedback
        with:
          diff-ref: 'origin/main'
          marker: <!-- changeset-feedback -->
          issue-number: ${{ github.event.pull_request.number }}
          app-id: ${{ secrets.RHDH_GH_APP_ID }}
          bot-username: rhdh-gh-app[bot]
          private-key: ${{ secrets.RHDH_GH_APP_PRIVATE_KEY }}
          installation-id: ${{ secrets.RHDH_GH_APP_INSTALLATION_ID }}
          multiple-workspaces: true
