name: Automate Renovate changeset
on:
  pull_request_target:
    paths:
      - '.github/workflows/automate_renovate_changesets.yml'
      - '**/yarn.lock'

jobs:
  generate-changeset:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]' && github.repository == 'redhat-developer/rhdh-plugins'
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 2
          ref: ${{ github.head_ref }}
          token: ${{ secrets.RHDH_BOT_TOKEN }}

      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/ # Needed for auth

      - name: Configure Git
        run: |
          git config --global user.email 146280956+rhdh-bot@users.noreply.github.com
          git config --global user.name 'Github changeset workflow'

      - name: Generate changesets
        run: node ./scripts/ci/generate-bump-changesets.js
